form .avatar {
    width: 55px;
    margin-bottom: 15px;
}

.navbar .container-avatar,
.img-post .container-avatar,
.img-detail .container-avatar {
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
}

.user-info .container-avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
}

.navbar .container-avatar {
    margin-left: 20px;
}

.navbar .container-avatar img,
.img-post .container-avatar img,
.img-detail .container-avatar img,
.user-info .container-avatar img {
    display: block;
	height: 100%;
	width: 100%;
    object-fit: cover;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
}

.img-post {
    margin-bottom: 35px;
    box-shadow: 0 4px 8px 0 rgba(114, 114, 114, 0.2), 0 6px 20px 0 rgba(114, 114, 114, 0.19);
}

.img-post .card-body,
.img-detail-photo {
    padding: 0;
}

.img-post .container-avatar,
.img-detail .container-avatar {
    float: left;
    margin-right: 15px;
}

.img-post .user-data {
    font-weight: bold;
    line-height: 34px;
}

.card-link {
    color: black !important;
}

.img-container {
    width: 100%;
    overflow: hidden;
}

.img-container img {
    width: 100%;
}

.img-post .img-description {
    padding: 20px;
    padding-top: 0;
}

.nickname {
    font-weight: bold;
}

.img-like img,
.img-comment img {
    width: 25px;
}

.img-like {
    float: left;
    padding: 10px;
    padding-left: 20px;
}

.img-detail .img-like {
    padding-left: 0;
}

.img-detail .card-header {
    line-height: 34px;
    font-weight: bold;
}

.img-comment {
    float: left;
    padding: 10px;
}

.btn-comment, .btn-like {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.btn-comment:hover, .btn-like:hover {
    color: black;
    text-decoration: none;
}

.img-date {
    color: #909090;
}

.x-delete {
    color: slategray;
}

.x-delete:hover {
    color: red;
    text-decoration: none;
}

.btn-like {
    cursor: pointer;
}

.profile-post {
    margin: 2% 2%;
    background: #e0e0e0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

.squared {
    margin-top: 100%;
}

.profile-post img {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	height: 100%;
	width: 100%;
    object-fit: cover;
}

.btn-actions {
    float: right;
}

.post-delete, .post-edit {
    color: #909090;
}

.post-delete:hover {
    color: #d32e05;
}

.post-edit:hover {
    color: black;
}
